<!DOCTYPE html>
<html id="page" dir="rtl" lang="fa-ir" class="dark">
    <head>
        <title>آقای ای‌پی‌آی - ورود</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../output.min.css" rel="stylesheet" />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
            rel="stylesheet"
        />
        <script src="../../node_modules/flowbite/dist/flowbite.min.css"></script>
    </head>
    <body class="bg-gray-100 overflow-y-scroll no-scrollbar dark:bg-gray-800">
        <header>
            <nav
                class="fixed w-full z-20 top-0 start-0 border-gray-200 bg-white dark:bg-gray-900 fix"
            >
                <div
                    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
                >
                    <a
                        href="/"
                        class="flex items-center space-x-3 rtl:space-x-reverse"
                    >
                        <svg
                            fill="#9CA3AF"
                            class="w-10 h-10"
                            version="1.1"
                            id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 511 511"
                            xml:space="preserve"
                        >
                            <path
                                d="M492.168,309.579l-17.626-10.177c2.96-14.723,4.458-29.466,4.458-43.902c0-14.646-1.474-29.403-4.384-43.946l17.552-10.134
		c5.436-3.138,9.325-8.206,10.949-14.269s0.791-12.396-2.348-17.832l-48-83.139c-3.139-5.436-8.206-9.325-14.269-10.949
		c-6.064-1.624-12.396-0.791-17.833,2.348l-17.566,10.142C380.912,68.2,354.798,53.092,327,43.692V23.5
		C327,10.542,316.458,0,303.5,0h-96C194.542,0,184,10.542,184,23.5v20.193c-27.65,9.362-53.728,24.49-75.999,44.088L90.332,77.579
		c-5.437-3.139-11.77-3.973-17.833-2.348c-6.063,1.625-11.13,5.513-14.269,10.949l-48,83.139
		c-3.139,5.436-3.972,11.769-2.348,17.832s5.513,11.131,10.949,14.269l17.626,10.177C33.499,226.32,32,241.063,32,255.5
		c0,14.644,1.474,29.401,4.384,43.945l-17.552,10.134c-11.222,6.479-15.08,20.879-8.602,32.102l48,83.139
		c6.479,11.221,20.879,15.08,32.102,8.601l17.565-10.142c22.19,19.521,48.303,34.629,76.103,44.03V487.5
		c0,12.958,10.542,23.5,23.5,23.5h96c12.958,0,23.5-10.542,23.5-23.5v-20.193c27.651-9.362,53.729-24.49,76-44.087l17.668,10.201
		c11.221,6.479,25.623,2.62,32.102-8.601l48-83.139C507.248,330.458,503.39,316.058,492.168,309.579z M487.779,334.181l-48,83.138
		c-2.343,4.06-7.552,5.455-11.611,3.111l-22.392-12.928c-2.845-1.643-6.43-1.242-8.842,0.989
		c-22.893,21.173-50.437,37.148-79.653,46.199c-3.14,0.973-5.281,3.877-5.281,7.164V487.5c0,4.687-3.813,8.5-8.5,8.5h-96
		c-4.687,0-8.5-3.813-8.5-8.5v-25.645c0-3.287-2.141-6.191-5.28-7.164c-29.396-9.107-56.974-25.062-79.755-46.139
		c-1.421-1.315-3.25-1.995-5.095-1.995c-1.286,0-2.579,0.33-3.748,1.005L82.832,420.43c-4.06,2.343-9.268,0.948-11.611-3.111
		l-48-83.138c-2.343-4.059-0.947-9.268,3.111-11.612l22.272-12.859c2.844-1.642,4.289-4.942,3.566-8.146
		C48.739,286.357,47,270.858,47,255.5c0-15.1,1.765-30.584,5.247-46.022c0.722-3.203-0.723-6.504-3.566-8.145L26.332,188.43
		c-1.966-1.135-3.372-2.968-3.96-5.161c-0.587-2.193-0.286-4.484,0.849-6.45l48-83.139c1.135-1.966,2.968-3.373,5.162-3.96
		c2.192-0.588,4.484-0.286,6.45,0.849l22.392,12.928c2.846,1.644,6.43,1.242,8.842-0.989c22.894-21.173,50.437-37.148,79.653-46.199
		c3.14-0.973,5.281-3.877,5.281-7.164V23.5c0-4.687,3.813-8.5,8.5-8.5h96c4.687,0,8.5,3.813,8.5,8.5v25.645
		c0,3.287,2.141,6.191,5.28,7.164c29.395,9.106,56.973,25.061,79.755,46.139c2.412,2.232,5.997,2.633,8.843,0.99l22.29-12.869
		c1.967-1.135,4.258-1.437,6.45-0.849c2.193,0.588,4.026,1.994,5.162,3.96l48,83.139c1.135,1.966,1.437,4.257,0.849,6.45
		c-0.588,2.193-1.994,4.026-3.96,5.161l-22.272,12.859c-2.844,1.642-4.289,4.943-3.566,8.146c3.431,15.206,5.17,30.704,5.17,46.065
		c0,15.1-1.765,30.584-5.247,46.021c-0.722,3.203,0.723,6.503,3.566,8.145l22.349,12.903
		C488.727,324.913,490.123,330.122,487.779,334.181z"
                            />
                            <path
                                d="M255.5,104C171.962,104,104,171.963,104,255.5S171.962,407,255.5,407S407,339.037,407,255.5S339.038,104,255.5,104z
		 M255.5,392C180.234,392,119,330.766,119,255.5S180.234,119,255.5,119S392,180.234,392,255.5S330.766,392,255.5,392z"
                            />
                            <path
                                d="M283.5,216h-28c-4.142,0-7.5,3.358-7.5,7.5v64c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V271h20.5
		c15.164,0,27.5-12.336,27.5-27.5S298.664,216,283.5,216z M283.5,256H263v-25h20.5c6.893,0,12.5,5.607,12.5,12.5
		S290.393,256,283.5,256z"
                            />
                            <path
                                d="M214.522,220.867c-1.098-2.927-3.896-4.867-7.022-4.867h-8c-3.126,0-5.925,1.939-7.022,4.867l-24,64
		c-1.455,3.878,0.511,8.201,4.389,9.656c3.878,1.455,8.201-0.511,9.656-4.389L186.697,279h33.605l4.175,11.133
		c1.129,3.011,3.987,4.869,7.023,4.869c0.875,0,1.765-0.154,2.632-0.479c3.878-1.454,5.844-5.778,4.389-9.656L214.522,220.867z
		 M192.322,264l11.178-29.807L214.678,264H192.322z"
                            />
                            <path
                                d="M327.5,216c-4.142,0-7.5,3.358-7.5,7.5v64c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-64
		C335,219.358,331.642,216,327.5,216z"
                            />
                            <path
                                d="M309.152,87.3c5.205,1.659,10.394,3.586,15.421,5.726c0.958,0.408,1.954,0.601,2.934,0.601c2.916,0,5.69-1.712,6.904-4.564
		c1.622-3.811-0.152-8.216-3.963-9.838c-5.458-2.323-11.09-4.415-16.742-6.216c-3.945-1.258-8.165,0.922-9.423,4.868
		C303.026,81.823,305.206,86.042,309.152,87.3z"
                            />
                            <path
                                d="M100.45,339.904c-1.984-3.636-6.541-4.976-10.176-2.992c-3.636,1.984-4.976,6.54-2.992,10.176
		c3.112,5.704,6.557,11.315,10.239,16.677c1.454,2.117,3.801,3.255,6.189,3.255c1.463,0,2.941-0.427,4.239-1.318
		c3.415-2.345,4.282-7.014,1.937-10.428C106.493,350.332,103.318,345.161,100.45,339.904z"
                            />
                            <path
                                d="M240.14,431.341c-40.189-3.463-78.337-20.879-107.416-49.041c-2.976-2.882-7.724-2.805-10.605,0.17
		c-2.881,2.976-2.806,7.724,0.17,10.605c31.55,30.555,72.947,49.452,116.563,53.21c0.219,0.019,0.436,0.028,0.652,0.028
		c3.851,0,7.127-2.949,7.464-6.856C247.323,435.331,244.266,431.697,240.14,431.341z"
                            />
                            <path
                                d="M363.425,97.287c-3.42-2.337-8.087-1.459-10.424,1.96c-2.337,3.42-1.459,8.087,1.96,10.424
		c34.844,23.813,60.049,59.248,70.972,99.776c0.902,3.346,3.93,5.55,7.237,5.55c0.646,0,1.303-0.084,1.956-0.26
		c4-1.078,6.368-5.194,5.29-9.193C428.564,161.564,401.221,123.118,363.425,97.287z"
                            />
                        </svg>
                        <span
                            class="self-center text-2xl font-yekan-bold whitespace-nowrap dark:text-white"
                            >آقای ای‌پی‌آی</span
                        >
                    </a>
                    <div id="mode">
                        <button onclick="toggleDarkMode()">
                            <svg
                                id="modeSVG"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1"
                                class="w-9 h-9"
                                viewBox="0 0 256 256"
                                xml:space="preserve"
                            >
                                <defs></defs>
                                <g
                                    style="
                                        stroke: none;
                                        stroke-width: 0;
                                        stroke-dasharray: none;
                                        stroke-linecap: butt;
                                        stroke-linejoin: miter;
                                        stroke-miterlimit: 10;
                                        fill: none;
                                        fill-rule: nonzero;
                                        opacity: 1;
                                    "
                                    transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
                                >
                                    <path
                                        d="M 45 68 c -12.682 0 -23 -10.317 -23 -23 c 0 -12.682 10.318 -23 23 -23 c 12.683 0 23 10.318 23 23 C 68 57.683 57.683 68 45 68 z"
                                        style="
                                            stroke: none;
                                            stroke-width: 1;
                                            stroke-dasharray: none;
                                            stroke-linecap: butt;
                                            stroke-linejoin: miter;
                                            stroke-miterlimit: 10;
                                            fill: rgb(220, 220, 220);
                                            fill-rule: nonzero;
                                            opacity: 1;
                                        "
                                        transform=" matrix(1 0 0 1 0 0) "
                                        stroke-linecap="round"
                                    />
                                    <path
                                        d="M 45 17.556 c -1.657 0 -3 -1.343 -3 -3 V 3 c 0 -1.657 1.343 -3 3 -3 c 1.657 0 3 1.343 3 3 v 11.556 C 48 16.212 46.657 17.556 45 17.556 z"
                                        style="
                                            stroke: none;
                                            stroke-width: 1;
                                            stroke-dasharray: none;
                                            stroke-linecap: butt;
                                            stroke-linejoin: miter;
                                            stroke-miterlimit: 10;
                                            fill: rgb(220, 220, 220);
                                            fill-rule: nonzero;
                                            opacity: 1;
                                        "
                                        transform=" matrix(1 0 0 1 0 0) "
                                        stroke-linecap="round"
                                    />
                                    <path
                                        d="M 45 90 c -1.657 0 -3 -1.343 -3 -3 V 75.444 c 0 -1.657 1.343 -3 3 -3 c 1.657 0 3 1.343 3 3 V 87 C 48 88.657 46.657 90 45 90 z"
                                        style="
                                            stroke: none;
                                            stroke-width: 1;
                                            stroke-dasharray: none;
                                            stroke-linecap: butt;
                                            stroke-linejoin: miter;
                                            stroke-miterlimit: 10;
                                            fill: rgb(220, 220, 220);
                                            fill-rule: nonzero;
                                            opacity: 1;
                                        "
                                        transform=" matrix(1 0 0 1 0 0) "
                                        stroke-linecap="round"
                                    />
                                    <path
                                        d="M 14.556 48 H 3 c -1.657 0 -3 -1.343 -3 -3 c 0 -1.657 1.343 -3 3 -3 h 11.556 c 1.657 0 3 1.343 3 3 C 17.556 46.657 16.212 48 14.556 48 z"
                                        style="
                                            stroke: none;
                                            stroke-width: 1;
                                            stroke-dasharray: none;
                                            stroke-linecap: butt;
                                            stroke-linejoin: miter;
                                            stroke-miterlimit: 10;
                                            fill: rgb(220, 220, 220);
                                            fill-rule: nonzero;
                                            opacity: 1;
                                        "
                                        transform=" matrix(1 0 0 1 0 0) "
                                        stroke-linecap="round"
                                    />
                                    <path
                                        d="M 87 48 H 75.444 c -1.657 0 -3 -1.343 -3 -3 c 0 -1.657 1.343 -3 3 -3 H 87 c 1.657 0 3 1.343 3 3 C 90 46.657 88.657 48 87 48 z"
                                        style="
                                            stroke: none;
                                            stroke-width: 1;
                                            stroke-dasharray: none;
                                            stroke-linecap: butt;
                                            stroke-linejoin: miter;
                                            stroke-miterlimit: 10;
                                            fill: rgb(220, 220, 220);
                                            fill-rule: nonzero;
                                            opacity: 1;
                                        "
                                        transform=" matrix(1 0 0 1 0 0) "
                                        stroke-linecap="round"
                                    />
                                    <path
                                        d="M 66.527 26.473 c -0.768 0 -1.535 -0.293 -2.121 -0.878 c -1.172 -1.172 -1.172 -3.071 0 -4.243 l 8.171 -8.171 c 1.172 -1.172 3.07 -1.171 4.242 0 c 1.172 1.172 1.172 3.071 0 4.243 l -8.171 8.171 C 68.063 26.18 67.295 26.473 66.527 26.473 z"
                                        style="
                                            stroke: none;
                                            stroke-width: 1;
                                            stroke-dasharray: none;
                                            stroke-linecap: butt;
                                            stroke-linejoin: miter;
                                            stroke-miterlimit: 10;
                                            fill: rgb(220, 220, 220);
                                            fill-rule: nonzero;
                                            opacity: 1;
                                        "
                                        transform=" matrix(1 0 0 1 0 0) "
                                        stroke-linecap="round"
                                    />
                                    <path
                                        d="M 15.302 77.698 c -0.768 0 -1.536 -0.293 -2.121 -0.879 c -1.172 -1.171 -1.172 -3.071 0 -4.242 l 8.171 -8.171 c 1.171 -1.172 3.071 -1.172 4.242 0 c 1.172 1.171 1.172 3.071 0 4.242 l -8.171 8.171 C 16.837 77.405 16.069 77.698 15.302 77.698 z"
                                        style="
                                            stroke: none;
                                            stroke-width: 1;
                                            stroke-dasharray: none;
                                            stroke-linecap: butt;
                                            stroke-linejoin: miter;
                                            stroke-miterlimit: 10;
                                            fill: rgb(220, 220, 220);
                                            fill-rule: nonzero;
                                            opacity: 1;
                                        "
                                        transform=" matrix(1 0 0 1 0 0) "
                                        stroke-linecap="round"
                                    />
                                    <path
                                        d="M 23.473 26.473 c -0.768 0 -1.536 -0.293 -2.121 -0.878 l -8.171 -8.171 c -1.172 -1.172 -1.172 -3.071 0 -4.243 c 1.172 -1.172 3.072 -1.171 4.243 0 l 8.171 8.171 c 1.172 1.172 1.172 3.071 0 4.243 C 25.008 26.18 24.24 26.473 23.473 26.473 z"
                                        style="
                                            stroke: none;
                                            stroke-width: 1;
                                            stroke-dasharray: none;
                                            stroke-linecap: butt;
                                            stroke-linejoin: miter;
                                            stroke-miterlimit: 10;
                                            fill: rgb(220, 220, 220);
                                            fill-rule: nonzero;
                                            opacity: 1;
                                        "
                                        transform=" matrix(1 0 0 1 0 0) "
                                        stroke-linecap="round"
                                    />
                                    <path
                                        d="M 74.698 77.698 c -0.768 0 -1.535 -0.293 -2.121 -0.879 l -8.171 -8.171 c -1.172 -1.171 -1.172 -3.071 0 -4.242 c 1.172 -1.172 3.07 -1.172 4.242 0 l 8.171 8.171 c 1.172 1.171 1.172 3.071 0 4.242 C 76.233 77.405 75.466 77.698 74.698 77.698 z"
                                        style="
                                            stroke: none;
                                            stroke-width: 1;
                                            stroke-dasharray: none;
                                            stroke-linecap: butt;
                                            stroke-linejoin: miter;
                                            stroke-miterlimit: 10;
                                            fill: rgb(220, 220, 220);
                                            fill-rule: nonzero;
                                            opacity: 1;
                                        "
                                        transform=" matrix(1 0 0 1 0 0) "
                                        stroke-linecap="round"
                                    />
                                </g>
                            </svg>
                        </button>
                    </div>
                    <div class="flex md:order-2">
                        <button
                            type="button"
                            data-collapse-toggle="navbar-search"
                            aria-controls="navbar-search"
                            aria-expanded="false"
                            class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 me-1"
                        >
                            <svg
                                class="w-8 h-8"
                                style="transform: scale(-1, 1)"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                fill="currentColor"
                                viewBox="0 0 511 538"
                                xml:space="presave"
                            >
                                <path
                                    d="M327.5,0C226.318,0,144,82.318,144,183.5c0,47.899,18.455,91.563,48.619,124.275l-23.391,23.391
		c-0.468,0.468-0.853,0.986-1.172,1.532C163.131,329.642,157.443,328,151.5,328c-8.417,0-16.327,3.278-22.272,9.228L9.229,457.227
		C3.278,463.176,0,471.086,0,479.5s3.278,16.324,9.226,22.27C15.173,507.722,23.083,511,31.5,511s16.327-3.278,22.272-9.228
		l119.999-119.999c5.951-5.949,9.229-13.859,9.229-22.273c0-5.943-1.642-11.631-4.698-16.556c0.546-0.319,1.065-0.703,1.533-1.172
		l23.391-23.391C235.937,348.545,279.601,367,327.5,367C428.682,367,511,284.682,511,183.5S428.682,0,327.5,0z M43.163,491.167
		C40.05,494.284,35.908,496,31.5,496s-8.55-1.716-11.667-4.835C16.716,488.049,15,483.906,15,479.5s1.716-8.549,4.834-11.666
		l106.697-106.697l23.331,23.331L43.163,491.167z M163.166,371.166l-2.697,2.697l-23.331-23.331l2.699-2.699
		c3.113-3.116,7.255-4.833,11.663-4.833s8.55,1.716,11.667,4.835c3.117,3.116,4.833,7.258,4.833,11.665
		S166.284,368.049,163.166,371.166z M327.5,352C234.589,352,159,276.411,159,183.5S234.589,15,327.5,15S496,90.589,496,183.5
		S420.411,352,327.5,352z"
                                />
                                <path
                                    d="M279.5,247c1.919,0,3.839-0.732,5.303-2.197c2.929-2.929,2.929-7.678,0-10.606L234.106,183.5l50.697-50.697
		c2.929-2.929,2.929-7.678,0-10.606c-2.929-2.929-7.678-2.929-10.606,0l-56,56c-2.929,2.929-2.929,7.678,0,10.606l56,56
		C275.661,246.268,277.581,247,279.5,247z"
                                />
                                <path
                                    d="M380.803,122.197c-2.929-2.929-7.678-2.929-10.606,0c-2.929,2.929-2.929,7.678,0,10.606l50.697,50.697l-50.697,50.697
		c-2.929,2.929-2.929,7.678,0,10.606c1.464,1.464,3.384,2.197,5.303,2.197s3.839-0.732,5.303-2.197l56-56
		c2.929-2.929,2.929-7.678,0-10.606L380.803,122.197z"
                                />
                                <path
                                    d="M327.5,200c-1.97,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.32-2.2,5.3c0,1.97,0.8,3.91,2.2,5.3c1.39,1.4,3.33,2.2,5.3,2.2
		c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3c0-1.98-0.8-3.91-2.2-5.3C331.41,200.8,329.47,200,327.5,200z"
                                />
                                <path
                                    d="M359.5,200c-1.97,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.33-2.2,5.3c0,1.97,0.8,3.91,2.2,5.3c1.39,1.4,3.33,2.2,5.3,2.2
		c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3c0-1.97-0.8-3.91-2.2-5.3C363.41,200.8,361.47,200,359.5,200z"
                                />
                                <path
                                    d="M295.5,215c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3c0-1.97-0.8-3.91-2.2-5.3c-1.39-1.4-3.33-2.2-5.3-2.2
		c-1.97,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.32-2.2,5.3c0,1.97,0.8,3.91,2.2,5.3C291.59,214.2,293.52,215,295.5,215z"
                                />
                                <path
                                    d="M473.064,141.375c-9.877-34.188-31.68-63.969-61.392-83.858c-3.442-2.305-8.1-1.382-10.404,2.061
		c-2.304,3.442-1.382,8.1,2.061,10.404c26.779,17.926,46.427,44.759,55.325,75.556c0.949,3.284,3.946,5.42,7.202,5.42
		c0.689,0,1.39-0.096,2.085-0.297C471.92,149.512,474.214,145.354,473.064,141.375z"
                                />
                                <path
                                    d="M312.324,319.167c-29.982-3.314-57.389-16.145-79.259-37.105c-2.99-2.867-7.738-2.765-10.604,0.225
		c-2.866,2.99-2.766,7.738,0.225,10.604c23.926,22.931,55.175,37.558,87.989,41.185c0.28,0.031,0.558,0.046,0.833,0.046
		c3.772,0,7.021-2.839,7.445-6.676C319.409,323.328,316.44,319.622,312.324,319.167z"
                                />
                                <path
                                    d="M206.171,246.107c-1.902-3.68-6.428-5.12-10.107-3.217c-3.679,1.902-5.12,6.428-3.217,10.107
		c2.601,5.029,5.519,9.969,8.675,14.683c1.447,2.161,3.821,3.329,6.239,3.329c1.434,0,2.884-0.411,4.166-1.269
		c3.442-2.304,4.364-6.963,2.06-10.405C211.143,255.088,208.513,250.638,206.171,246.107z"
                                />
                                <path
                                    d="M357.843,50.383c4.93,1.119,9.851,2.53,14.625,4.195c0.817,0.285,1.65,0.42,2.47,0.42c3.102,0,6.003-1.938,7.082-5.032
		c1.364-3.911-0.701-8.188-4.612-9.551c-5.304-1.85-10.77-3.417-16.246-4.66c-4.038-0.917-8.057,1.614-8.974,5.654
		C351.272,45.448,353.804,49.466,357.843,50.383z"
                                />
                            </svg>
                            <span class="sr-only">Search</span>
                        </button>
                        <div class="relative hidden md:block">
                            <div
                                class="absolute inset-y-0 -start-2 flex items-center ps-3 pointer-events-none"
                            >
                                <svg
                                    class="w-7 h-7"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    fill="#6b7280"
                                    viewBox="0 0 511 511"
                                    xml:space="presave"
                                >
                                    <path
                                        d="M327.5,0C226.318,0,144,82.318,144,183.5c0,47.899,18.455,91.563,48.619,124.275l-23.391,23.391
		c-0.468,0.468-0.853,0.986-1.172,1.532C163.131,329.642,157.443,328,151.5,328c-8.417,0-16.327,3.278-22.272,9.228L9.229,457.227
		C3.278,463.176,0,471.086,0,479.5s3.278,16.324,9.226,22.27C15.173,507.722,23.083,511,31.5,511s16.327-3.278,22.272-9.228
		l119.999-119.999c5.951-5.949,9.229-13.859,9.229-22.273c0-5.943-1.642-11.631-4.698-16.556c0.546-0.319,1.065-0.703,1.533-1.172
		l23.391-23.391C235.937,348.545,279.601,367,327.5,367C428.682,367,511,284.682,511,183.5S428.682,0,327.5,0z M43.163,491.167
		C40.05,494.284,35.908,496,31.5,496s-8.55-1.716-11.667-4.835C16.716,488.049,15,483.906,15,479.5s1.716-8.549,4.834-11.666
		l106.697-106.697l23.331,23.331L43.163,491.167z M163.166,371.166l-2.697,2.697l-23.331-23.331l2.699-2.699
		c3.113-3.116,7.255-4.833,11.663-4.833s8.55,1.716,11.667,4.835c3.117,3.116,4.833,7.258,4.833,11.665
		S166.284,368.049,163.166,371.166z M327.5,352C234.589,352,159,276.411,159,183.5S234.589,15,327.5,15S496,90.589,496,183.5
		S420.411,352,327.5,352z"
                                    />
                                    <path
                                        d="M279.5,247c1.919,0,3.839-0.732,5.303-2.197c2.929-2.929,2.929-7.678,0-10.606L234.106,183.5l50.697-50.697
		c2.929-2.929,2.929-7.678,0-10.606c-2.929-2.929-7.678-2.929-10.606,0l-56,56c-2.929,2.929-2.929,7.678,0,10.606l56,56
		C275.661,246.268,277.581,247,279.5,247z"
                                    />
                                    <path
                                        d="M380.803,122.197c-2.929-2.929-7.678-2.929-10.606,0c-2.929,2.929-2.929,7.678,0,10.606l50.697,50.697l-50.697,50.697
		c-2.929,2.929-2.929,7.678,0,10.606c1.464,1.464,3.384,2.197,5.303,2.197s3.839-0.732,5.303-2.197l56-56
		c2.929-2.929,2.929-7.678,0-10.606L380.803,122.197z"
                                    />
                                    <path
                                        d="M327.5,200c-1.97,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.32-2.2,5.3c0,1.97,0.8,3.91,2.2,5.3c1.39,1.4,3.33,2.2,5.3,2.2
		c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3c0-1.98-0.8-3.91-2.2-5.3C331.41,200.8,329.47,200,327.5,200z"
                                    />
                                    <path
                                        d="M359.5,200c-1.97,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.33-2.2,5.3c0,1.97,0.8,3.91,2.2,5.3c1.39,1.4,3.33,2.2,5.3,2.2
		c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3c0-1.97-0.8-3.91-2.2-5.3C363.41,200.8,361.47,200,359.5,200z"
                                    />
                                    <path
                                        d="M295.5,215c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3c0-1.97-0.8-3.91-2.2-5.3c-1.39-1.4-3.33-2.2-5.3-2.2
		c-1.97,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.32-2.2,5.3c0,1.97,0.8,3.91,2.2,5.3C291.59,214.2,293.52,215,295.5,215z"
                                    />
                                    <path
                                        d="M473.064,141.375c-9.877-34.188-31.68-63.969-61.392-83.858c-3.442-2.305-8.1-1.382-10.404,2.061
		c-2.304,3.442-1.382,8.1,2.061,10.404c26.779,17.926,46.427,44.759,55.325,75.556c0.949,3.284,3.946,5.42,7.202,5.42
		c0.689,0,1.39-0.096,2.085-0.297C471.92,149.512,474.214,145.354,473.064,141.375z"
                                    />
                                    <path
                                        d="M312.324,319.167c-29.982-3.314-57.389-16.145-79.259-37.105c-2.99-2.867-7.738-2.765-10.604,0.225
		c-2.866,2.99-2.766,7.738,0.225,10.604c23.926,22.931,55.175,37.558,87.989,41.185c0.28,0.031,0.558,0.046,0.833,0.046
		c3.772,0,7.021-2.839,7.445-6.676C319.409,323.328,316.44,319.622,312.324,319.167z"
                                    />
                                    <path
                                        d="M206.171,246.107c-1.902-3.68-6.428-5.12-10.107-3.217c-3.679,1.902-5.12,6.428-3.217,10.107
		c2.601,5.029,5.519,9.969,8.675,14.683c1.447,2.161,3.821,3.329,6.239,3.329c1.434,0,2.884-0.411,4.166-1.269
		c3.442-2.304,4.364-6.963,2.06-10.405C211.143,255.088,208.513,250.638,206.171,246.107z"
                                    />
                                    <path
                                        d="M357.843,50.383c4.93,1.119,9.851,2.53,14.625,4.195c0.817,0.285,1.65,0.42,2.47,0.42c3.102,0,6.003-1.938,7.082-5.032
		c1.364-3.911-0.701-8.188-4.612-9.551c-5.304-1.85-10.77-3.417-16.246-4.66c-4.038-0.917-8.057,1.614-8.974,5.654
		C351.272,45.448,353.804,49.466,357.843,50.383z"
                                    />
                                </svg>
                                <span class="sr-only">Search icon</span>
                            </div>
                            <input
                                type="text"
                                id="search-navbar"
                                class="block font-yekan text-lg w-full p-2 ps-10 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="جستجو..."
                            />
                        </div>
                        <button
                            data-collapse-toggle="navbar-search"
                            type="button"
                            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                            aria-controls="navbar-search"
                            aria-expanded="false"
                        >
                            <span class="sr-only">Open main menu</span>
                            <svg
                                class="w-5 h-5"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 17 14"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M1 1h15M1 7h15M1 13h15"
                                />
                            </svg>
                        </button>
                    </div>
                    <div
                        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
                        id="navbar-search"
                    >
                        <div class="relative mt-3 md:hidden">
                            <div
                                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
                            >
                                <svg
                                    class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 20 20"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                                    />
                                </svg>
                            </div>
                            <input
                                type="text"
                                id="search-navbar"
                                class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="جستجو"
                            />
                        </div>
                        <ul
                            class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
                        >
                            <li>
                                <a
                                    href="/"
                                    class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                                    aria-current="page"
                                    >خانه</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                    >ای‌پی‌آی ها</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                    >حساب کاربری</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <section class="bg-gray-50 dark:bg-gray-900">
                <div
                    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
                >
                    <a
                        href="#"
                        class="flex items-center mb-6 text-4xl font-yekan-bold text-gray-900 dark:text-white"
                    >
                        <svg
                            fill="#9CA3AF"
                            class="w-12 h-12 ml-3.5"
                            version="1.1"
                            id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 511 511"
                            xml:space="preserve"
                        >
                            <path
                                d="M492.168,309.579l-17.626-10.177c2.96-14.723,4.458-29.466,4.458-43.902c0-14.646-1.474-29.403-4.384-43.946l17.552-10.134
		c5.436-3.138,9.325-8.206,10.949-14.269s0.791-12.396-2.348-17.832l-48-83.139c-3.139-5.436-8.206-9.325-14.269-10.949
		c-6.064-1.624-12.396-0.791-17.833,2.348l-17.566,10.142C380.912,68.2,354.798,53.092,327,43.692V23.5
		C327,10.542,316.458,0,303.5,0h-96C194.542,0,184,10.542,184,23.5v20.193c-27.65,9.362-53.728,24.49-75.999,44.088L90.332,77.579
		c-5.437-3.139-11.77-3.973-17.833-2.348c-6.063,1.625-11.13,5.513-14.269,10.949l-48,83.139
		c-3.139,5.436-3.972,11.769-2.348,17.832s5.513,11.131,10.949,14.269l17.626,10.177C33.499,226.32,32,241.063,32,255.5
		c0,14.644,1.474,29.401,4.384,43.945l-17.552,10.134c-11.222,6.479-15.08,20.879-8.602,32.102l48,83.139
		c6.479,11.221,20.879,15.08,32.102,8.601l17.565-10.142c22.19,19.521,48.303,34.629,76.103,44.03V487.5
		c0,12.958,10.542,23.5,23.5,23.5h96c12.958,0,23.5-10.542,23.5-23.5v-20.193c27.651-9.362,53.729-24.49,76-44.087l17.668,10.201
		c11.221,6.479,25.623,2.62,32.102-8.601l48-83.139C507.248,330.458,503.39,316.058,492.168,309.579z M487.779,334.181l-48,83.138
		c-2.343,4.06-7.552,5.455-11.611,3.111l-22.392-12.928c-2.845-1.643-6.43-1.242-8.842,0.989
		c-22.893,21.173-50.437,37.148-79.653,46.199c-3.14,0.973-5.281,3.877-5.281,7.164V487.5c0,4.687-3.813,8.5-8.5,8.5h-96
		c-4.687,0-8.5-3.813-8.5-8.5v-25.645c0-3.287-2.141-6.191-5.28-7.164c-29.396-9.107-56.974-25.062-79.755-46.139
		c-1.421-1.315-3.25-1.995-5.095-1.995c-1.286,0-2.579,0.33-3.748,1.005L82.832,420.43c-4.06,2.343-9.268,0.948-11.611-3.111
		l-48-83.138c-2.343-4.059-0.947-9.268,3.111-11.612l22.272-12.859c2.844-1.642,4.289-4.942,3.566-8.146
		C48.739,286.357,47,270.858,47,255.5c0-15.1,1.765-30.584,5.247-46.022c0.722-3.203-0.723-6.504-3.566-8.145L26.332,188.43
		c-1.966-1.135-3.372-2.968-3.96-5.161c-0.587-2.193-0.286-4.484,0.849-6.45l48-83.139c1.135-1.966,2.968-3.373,5.162-3.96
		c2.192-0.588,4.484-0.286,6.45,0.849l22.392,12.928c2.846,1.644,6.43,1.242,8.842-0.989c22.894-21.173,50.437-37.148,79.653-46.199
		c3.14-0.973,5.281-3.877,5.281-7.164V23.5c0-4.687,3.813-8.5,8.5-8.5h96c4.687,0,8.5,3.813,8.5,8.5v25.645
		c0,3.287,2.141,6.191,5.28,7.164c29.395,9.106,56.973,25.061,79.755,46.139c2.412,2.232,5.997,2.633,8.843,0.99l22.29-12.869
		c1.967-1.135,4.258-1.437,6.45-0.849c2.193,0.588,4.026,1.994,5.162,3.96l48,83.139c1.135,1.966,1.437,4.257,0.849,6.45
		c-0.588,2.193-1.994,4.026-3.96,5.161l-22.272,12.859c-2.844,1.642-4.289,4.943-3.566,8.146c3.431,15.206,5.17,30.704,5.17,46.065
		c0,15.1-1.765,30.584-5.247,46.021c-0.722,3.203,0.723,6.503,3.566,8.145l22.349,12.903
		C488.727,324.913,490.123,330.122,487.779,334.181z"
                            />
                            <path
                                d="M255.5,104C171.962,104,104,171.963,104,255.5S171.962,407,255.5,407S407,339.037,407,255.5S339.038,104,255.5,104z
		 M255.5,392C180.234,392,119,330.766,119,255.5S180.234,119,255.5,119S392,180.234,392,255.5S330.766,392,255.5,392z"
                            />
                            <path
                                d="M283.5,216h-28c-4.142,0-7.5,3.358-7.5,7.5v64c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V271h20.5
		c15.164,0,27.5-12.336,27.5-27.5S298.664,216,283.5,216z M283.5,256H263v-25h20.5c6.893,0,12.5,5.607,12.5,12.5
		S290.393,256,283.5,256z"
                            />
                            <path
                                d="M214.522,220.867c-1.098-2.927-3.896-4.867-7.022-4.867h-8c-3.126,0-5.925,1.939-7.022,4.867l-24,64
		c-1.455,3.878,0.511,8.201,4.389,9.656c3.878,1.455,8.201-0.511,9.656-4.389L186.697,279h33.605l4.175,11.133
		c1.129,3.011,3.987,4.869,7.023,4.869c0.875,0,1.765-0.154,2.632-0.479c3.878-1.454,5.844-5.778,4.389-9.656L214.522,220.867z
		 M192.322,264l11.178-29.807L214.678,264H192.322z"
                            />
                            <path
                                d="M327.5,216c-4.142,0-7.5,3.358-7.5,7.5v64c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-64
		C335,219.358,331.642,216,327.5,216z"
                            />
                            <path
                                d="M309.152,87.3c5.205,1.659,10.394,3.586,15.421,5.726c0.958,0.408,1.954,0.601,2.934,0.601c2.916,0,5.69-1.712,6.904-4.564
		c1.622-3.811-0.152-8.216-3.963-9.838c-5.458-2.323-11.09-4.415-16.742-6.216c-3.945-1.258-8.165,0.922-9.423,4.868
		C303.026,81.823,305.206,86.042,309.152,87.3z"
                            />
                            <path
                                d="M100.45,339.904c-1.984-3.636-6.541-4.976-10.176-2.992c-3.636,1.984-4.976,6.54-2.992,10.176
		c3.112,5.704,6.557,11.315,10.239,16.677c1.454,2.117,3.801,3.255,6.189,3.255c1.463,0,2.941-0.427,4.239-1.318
		c3.415-2.345,4.282-7.014,1.937-10.428C106.493,350.332,103.318,345.161,100.45,339.904z"
                            />
                            <path
                                d="M240.14,431.341c-40.189-3.463-78.337-20.879-107.416-49.041c-2.976-2.882-7.724-2.805-10.605,0.17
		c-2.881,2.976-2.806,7.724,0.17,10.605c31.55,30.555,72.947,49.452,116.563,53.21c0.219,0.019,0.436,0.028,0.652,0.028
		c3.851,0,7.127-2.949,7.464-6.856C247.323,435.331,244.266,431.697,240.14,431.341z"
                            />
                            <path
                                d="M363.425,97.287c-3.42-2.337-8.087-1.459-10.424,1.96c-2.337,3.42-1.459,8.087,1.96,10.424
		c34.844,23.813,60.049,59.248,70.972,99.776c0.902,3.346,3.93,5.55,7.237,5.55c0.646,0,1.303-0.084,1.956-0.26
		c4-1.078,6.368-5.194,5.29-9.193C428.564,161.564,401.221,123.118,363.425,97.287z"
                            />
                        </svg>
                        آقای ای‌پی‌آی
                    </a>
                    <div
                        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
                    >
                        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                            <h1
                                class="text-2xl font-yekan-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
                            >
                            ورود به حساب کاربری
                            </h1>
                            <form class="space-y-4 md:space-y-6" action="#">
                                <div>
                                    <label
                                        for="email"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                        >ایمیل</label
                                    >
                                    <input
                                        type="email"
                                        name="email"
                                        id="email"
                                        class="text-left bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="name@company.com"
                                        required=""
                                    />
                                </div>
                                <div>
                                    <label
                                        for="password"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                        >گذرواژه</label
                                    >
                                    <input
                                        type="password"
                                        name="password"
                                        id="password"
                                        placeholder="••••••••"
                                        class="text-left bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required=""
                                    />
                                </div>
                                <div class="flex items-center justify-between">
                                    <div class="flex items-start">
                                        <div class="flex items-center h-5">
                                            <input
                                                id="remember"
                                                aria-describedby="remember"
                                                type="checkbox"
                                                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                                                required=""
                                            />
                                        </div>
                                        <div class="ml-3 text-sm mr-1">
                                            <label
                                                for="remember"
                                                class="text-gray-500 dark:text-gray-300"
                                                >مرا به خاطر بسپار</label
                                            >
                                        </div>
                                    </div>
                                    <a
                                        href="#"
                                        class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500"
                                        >گذرواژه تان را فراموش کرده اید؟</a
                                    >
                                </div>
                                <button
                                    type="submit"
                                    class="w-full text-sm text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                                >
                                    ورود
                                </button>
                                <p
                                    class="text-sm font-light text-gray-500 dark:text-gray-400"
                                >
                                 هنوز حساب کاربری ندارید؟
                                    <a
                                        href="http://localhost/user/signup"
                                        class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                                        >ثبت نام</a
                                    >
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="bg-white dark:bg-gray-900 absolute w-full">
            <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
                <div class="md:flex md:justify-between">
                    <div class="mb-6 md:mb-0">
                        <a href="/" class="flex items-center">
                            <svg
                                fill="#9CA3AF"
                                class="w-8 h-8"
                                version="1.1"
                                id="Capa_1"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 511 511"
                                xml:space="preserve"
                            >
                                <path
                                    d="M492.168,309.579l-17.626-10.177c2.96-14.723,4.458-29.466,4.458-43.902c0-14.646-1.474-29.403-4.384-43.946l17.552-10.134
		c5.436-3.138,9.325-8.206,10.949-14.269s0.791-12.396-2.348-17.832l-48-83.139c-3.139-5.436-8.206-9.325-14.269-10.949
		c-6.064-1.624-12.396-0.791-17.833,2.348l-17.566,10.142C380.912,68.2,354.798,53.092,327,43.692V23.5
		C327,10.542,316.458,0,303.5,0h-96C194.542,0,184,10.542,184,23.5v20.193c-27.65,9.362-53.728,24.49-75.999,44.088L90.332,77.579
		c-5.437-3.139-11.77-3.973-17.833-2.348c-6.063,1.625-11.13,5.513-14.269,10.949l-48,83.139
		c-3.139,5.436-3.972,11.769-2.348,17.832s5.513,11.131,10.949,14.269l17.626,10.177C33.499,226.32,32,241.063,32,255.5
		c0,14.644,1.474,29.401,4.384,43.945l-17.552,10.134c-11.222,6.479-15.08,20.879-8.602,32.102l48,83.139
		c6.479,11.221,20.879,15.08,32.102,8.601l17.565-10.142c22.19,19.521,48.303,34.629,76.103,44.03V487.5
		c0,12.958,10.542,23.5,23.5,23.5h96c12.958,0,23.5-10.542,23.5-23.5v-20.193c27.651-9.362,53.729-24.49,76-44.087l17.668,10.201
		c11.221,6.479,25.623,2.62,32.102-8.601l48-83.139C507.248,330.458,503.39,316.058,492.168,309.579z M487.779,334.181l-48,83.138
		c-2.343,4.06-7.552,5.455-11.611,3.111l-22.392-12.928c-2.845-1.643-6.43-1.242-8.842,0.989
		c-22.893,21.173-50.437,37.148-79.653,46.199c-3.14,0.973-5.281,3.877-5.281,7.164V487.5c0,4.687-3.813,8.5-8.5,8.5h-96
		c-4.687,0-8.5-3.813-8.5-8.5v-25.645c0-3.287-2.141-6.191-5.28-7.164c-29.396-9.107-56.974-25.062-79.755-46.139
		c-1.421-1.315-3.25-1.995-5.095-1.995c-1.286,0-2.579,0.33-3.748,1.005L82.832,420.43c-4.06,2.343-9.268,0.948-11.611-3.111
		l-48-83.138c-2.343-4.059-0.947-9.268,3.111-11.612l22.272-12.859c2.844-1.642,4.289-4.942,3.566-8.146
		C48.739,286.357,47,270.858,47,255.5c0-15.1,1.765-30.584,5.247-46.022c0.722-3.203-0.723-6.504-3.566-8.145L26.332,188.43
		c-1.966-1.135-3.372-2.968-3.96-5.161c-0.587-2.193-0.286-4.484,0.849-6.45l48-83.139c1.135-1.966,2.968-3.373,5.162-3.96
		c2.192-0.588,4.484-0.286,6.45,0.849l22.392,12.928c2.846,1.644,6.43,1.242,8.842-0.989c22.894-21.173,50.437-37.148,79.653-46.199
		c3.14-0.973,5.281-3.877,5.281-7.164V23.5c0-4.687,3.813-8.5,8.5-8.5h96c4.687,0,8.5,3.813,8.5,8.5v25.645
		c0,3.287,2.141,6.191,5.28,7.164c29.395,9.106,56.973,25.061,79.755,46.139c2.412,2.232,5.997,2.633,8.843,0.99l22.29-12.869
		c1.967-1.135,4.258-1.437,6.45-0.849c2.193,0.588,4.026,1.994,5.162,3.96l48,83.139c1.135,1.966,1.437,4.257,0.849,6.45
		c-0.588,2.193-1.994,4.026-3.96,5.161l-22.272,12.859c-2.844,1.642-4.289,4.943-3.566,8.146c3.431,15.206,5.17,30.704,5.17,46.065
		c0,15.1-1.765,30.584-5.247,46.021c-0.722,3.203,0.723,6.503,3.566,8.145l22.349,12.903
		C488.727,324.913,490.123,330.122,487.779,334.181z"
                                />
                                <path
                                    d="M255.5,104C171.962,104,104,171.963,104,255.5S171.962,407,255.5,407S407,339.037,407,255.5S339.038,104,255.5,104z
		 M255.5,392C180.234,392,119,330.766,119,255.5S180.234,119,255.5,119S392,180.234,392,255.5S330.766,392,255.5,392z"
                                />
                                <path
                                    d="M283.5,216h-28c-4.142,0-7.5,3.358-7.5,7.5v64c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V271h20.5
		c15.164,0,27.5-12.336,27.5-27.5S298.664,216,283.5,216z M283.5,256H263v-25h20.5c6.893,0,12.5,5.607,12.5,12.5
		S290.393,256,283.5,256z"
                                />
                                <path
                                    d="M214.522,220.867c-1.098-2.927-3.896-4.867-7.022-4.867h-8c-3.126,0-5.925,1.939-7.022,4.867l-24,64
		c-1.455,3.878,0.511,8.201,4.389,9.656c3.878,1.455,8.201-0.511,9.656-4.389L186.697,279h33.605l4.175,11.133
		c1.129,3.011,3.987,4.869,7.023,4.869c0.875,0,1.765-0.154,2.632-0.479c3.878-1.454,5.844-5.778,4.389-9.656L214.522,220.867z
		 M192.322,264l11.178-29.807L214.678,264H192.322z"
                                />
                                <path
                                    d="M327.5,216c-4.142,0-7.5,3.358-7.5,7.5v64c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-64
		C335,219.358,331.642,216,327.5,216z"
                                />
                                <path
                                    d="M309.152,87.3c5.205,1.659,10.394,3.586,15.421,5.726c0.958,0.408,1.954,0.601,2.934,0.601c2.916,0,5.69-1.712,6.904-4.564
		c1.622-3.811-0.152-8.216-3.963-9.838c-5.458-2.323-11.09-4.415-16.742-6.216c-3.945-1.258-8.165,0.922-9.423,4.868
		C303.026,81.823,305.206,86.042,309.152,87.3z"
                                />
                                <path
                                    d="M100.45,339.904c-1.984-3.636-6.541-4.976-10.176-2.992c-3.636,1.984-4.976,6.54-2.992,10.176
		c3.112,5.704,6.557,11.315,10.239,16.677c1.454,2.117,3.801,3.255,6.189,3.255c1.463,0,2.941-0.427,4.239-1.318
		c3.415-2.345,4.282-7.014,1.937-10.428C106.493,350.332,103.318,345.161,100.45,339.904z"
                                />
                                <path
                                    d="M240.14,431.341c-40.189-3.463-78.337-20.879-107.416-49.041c-2.976-2.882-7.724-2.805-10.605,0.17
		c-2.881,2.976-2.806,7.724,0.17,10.605c31.55,30.555,72.947,49.452,116.563,53.21c0.219,0.019,0.436,0.028,0.652,0.028
		c3.851,0,7.127-2.949,7.464-6.856C247.323,435.331,244.266,431.697,240.14,431.341z"
                                />
                                <path
                                    d="M363.425,97.287c-3.42-2.337-8.087-1.459-10.424,1.96c-2.337,3.42-1.459,8.087,1.96,10.424
		c34.844,23.813,60.049,59.248,70.972,99.776c0.902,3.346,3.93,5.55,7.237,5.55c0.646,0,1.303-0.084,1.956-0.26
		c4-1.078,6.368-5.194,5.29-9.193C428.564,161.564,401.221,123.118,363.425,97.287z"
                                />
                            </svg>
                            <span
                                class="mr-2 self-center text-2xl font-yekan-bold whitespace-nowrap dark:text-white"
                                >آقای ای‌پی‌آی</span
                            >
                        </a>
                    </div>
                    <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                        <div>
                            <h2
                                class="mb-6 text-xl font-yekan-bold text-gray-900 uppercase dark:text-white"
                            >
                                منابع
                            </h2>
                            <ul
                                class="text-gray-500 dark:text-gray-400 font-medium"
                            >
                                <li class="mb-4">
                                    <a
                                        href="https://flowbite.com/"
                                        class="hover:underline"
                                    >
                                        فلوبایت | Flowbite</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://tailwindcss.com/"
                                        class="hover:underline"
                                        >تیلوند | Tailwind</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2
                                class="mb-6 text-xl font-yekan-bold text-gray-900 uppercase dark:text-white"
                            >
                                ما را دنبال کنید
                            </h2>
                            <ul
                                class="text-gray-500 dark:text-gray-400 font-medium"
                            >
                                <li class="mb-4">
                                    <a
                                        href="https://github.com/themesberg/flowbite"
                                        class="hover:underline"
                                        >تلگرام</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://discord.gg/4eeurUVvTy"
                                        class="hover:underline"
                                        >روبیکا</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2
                                class="mb-6 text-xl font-yekan-bold text-gray-900 uppercase dark:text-white"
                            >
                                قانون
                            </h2>
                            <ul
                                class="text-gray-500 dark:text-gray-400 font-medium"
                            >
                                <li class="mb-4">
                                    <a href="#" class="hover:underline"
                                        >سیاست حفظ حریم خصوصی</a
                                    >
                                </li>
                                <li>
                                    <a href="#" class="hover:underline"
                                        >شرایط و مقررات سرویس دهی</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr
                    class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
                />
                <div class="sm:flex sm:items-center sm:justify-between">
                    <span
                        class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
                        >© 2023
                        <a href="https://flowbite.com/" class="hover:underline"
                            >Mr.API™</a
                        >
                        All Rights Reserved
                    </span>
                    <div class="flex mt-4 sm:justify-center sm:mt-0">
                        <a
                            href="#"
                            class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
                        >
                            <svg
                                class="w-4 h-4"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 8 19"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            <span class="sr-only">Facebook page</span>
                        </a>
                        <a
                            href="#"
                            class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
                        >
                            <svg
                                class="w-4 h-4"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 21 16"
                            >
                                <path
                                    d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"
                                />
                            </svg>
                            <span class="sr-only">Discord community</span>
                        </a>
                        <a
                            href="#"
                            class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
                        >
                            <svg
                                class="w-4 h-4"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 512 509.64"
                            >
                                <rect
                                    width="512"
                                    height="509.64"
                                    rx="115.61"
                                    ry="115.61"
                                />
                                <path
                                    fill="#fff"
                                    fill-rule="nonzero"
                                    d="M323.74 148.35h36.12l-78.91 90.2 92.83 122.73h-72.69l-56.93-74.43-65.15 74.43h-36.14l84.4-96.47-89.05-116.46h74.53l51.46 68.04 59.53-68.04zm-12.68 191.31h20.02l-129.2-170.82H180.4l130.66 170.82z"
                                />
                            </svg>
                            <span class="sr-only">X page</span>
                        </a>
                        <a
                            href="#"
                            class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
                        >
                            <svg
                                class="w-4 h-4"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            <span class="sr-only">GitHub account</span>
                        </a>
                        <a
                            href="#"
                            class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
                        >
                            <svg
                                class="w-4 h-4"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 495.37 543.04"
                            >
                                <path
                                    d="M246.07,0h1.76c.48,42.73-.25,128.44-.25,128.44-40.86-22.92-82-45.3-122.84-68.29q40.13-22.81,80.32-45.51c12.69-7.16,26.33-13.31,41-14.64Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M247.73,0h3C266.62,1.43,281,9,294.67,16.68Q332.91,38.25,371.05,60c-41,22.73-82.45,45.82-123.51,68.48-.35-42.73.63-85.77.15-128.5Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M124.77,60.11,247.61,128.4,123.92,200.66s-.06-45.85.08-68.71C123.89,108.21,124.77,60.11,124.77,60.11Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M371.19,60l.35.19c-.1,42.59,0,85.18,0,127.77-.07,4.17-.11,12.77-.11,12.77L247.62,128.45S330.2,82.76,371.23,60Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M371.44,60.21c27.28,15.51,54.37,31.36,81.47,47.17,13.11,7.36,27,15.52,34.16,29.39-38.38,21.25-115.68,64-115.68,64s-.06-8.61,0-12.78q0-63.89,0-127.77Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M46.5,105c25.65-15,78.19-44.88,78.19-44.88L124,200.66S47,158.21,8.71,137C17.05,122.13,32.11,113.12,46.5,105Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M247.5,128.44l123.81,72.3s-39.84,22-59.62,32.64c-21.14,12-64.09,35.82-64.09,35.82L123.94,200.66Z"
                                    fill="#fff"
                                />
                                <path
                                    d="M0,193C.11,174.17-.23,154.15,8.66,137,47,158.21,123.92,200.66,123.92,200.66,82.55,224.58,41.38,248.86,0,272.81,0,246.21,0,219.62,0,193Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M487.07,136.77c7.54,14.1,8.64,30.5,8.22,46.19v90.11L371.41,200.76S448.69,158,487.07,136.77Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M123.92,200.66c.19-.08,123.66,68.54,123.66,68.54s0,71.69.07,106.76c.2,11.29-.07,34.11-.07,34.11-41.27-22.78-82.32-45.76-123.6-68.54l-.07-.31V200.66Z"
                                    fill="#e4e4e4"
                                />
                                <path
                                    d="M0,272.81c41.35-24,82.52-48.23,123.89-72.15q-.06,70.29,0,140.56c-6.35-2.65-12.13-6.43-18.19-9.64C70.5,312.21,35.38,292.39,0,273.21v-.4Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M371.39,200.76v86.18c-.13,18.27.46,36.47,0,54.73-41.21,22.4-123.82,68.4-123.82,68.4s.27-22.82.07-34.11c0-35.07-.07-106.76-.07-106.76Z"
                                    fill="#f1f1f1"
                                />
                                <path
                                    d="M371.39,200.76s123.88,72.14,123.88,72.31c-41.17,22.82-123.87,68.6-123.87,68.6h0c.46-18.26-.13-36.46,0-54.73V200.76Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M0,273.21c35.36,19.21,70.43,39,105.7,58.4,6.06,3.21,11.84,7,18.19,9.64l.07.31Q67,374.79,10,408.05C6,402,4,394.86,2.53,387.8.14,376,0,364,0,352v-78.8Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M495.27,273.07c.06,27.65,0,55.3,0,82.95.4,17.73-.12,36.62-9.57,52.25-34.2-20-114.33-66.6-114.33-66.6S454.1,295.89,495.27,273.07Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M10,408Q67,374.72,124,341.53c-.25,46.83.08,93.67-.16,140.49q-40.35-22.75-80.49-45.86C30.82,428.76,18,420.53,10,408Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M124,341.53c41.28,22.78,82.33,45.76,123.6,68.54-41.2,24-123.7,72-123.76,71.95.24-46.82-.09-93.66.16-140.49Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M371.2,341.76l.2-.09c.12,46.84-.25,93.69.19,140.53l-.31.15c-32.66-19.51-65.71-38.4-98.52-57.68-8.26-4.7-25.18-14.6-25.18-14.6S330,364.21,371.2,341.76Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M371.4,341.67h0c3.65,2.49,80.13,46.62,114.33,66.6-4.86,8.3-12.56,14.39-20.32,19.84-12.52,8.42-25.88,15.47-38.9,23.05-18.31,10.35-36.5,20.91-54.92,31-.44-46.84-.07-93.69-.19-140.53Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M247.58,410.07V543c-10.25-1.51-21.42-3.87-30.5-9.08C186,516.66,154.81,499.5,123.82,482,165,458,206.38,434.12,247.58,410.07Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M247.58,410.07s16.92,9.9,25.18,14.6c32.81,19.28,65.86,38.17,98.52,57.68q-47.79,26.44-95.57,53A62.47,62.47,0,0,1,249.84,543h-2.26Z"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                />
                                <path d="M602.83,233.66" fill="#f1f1f1" />
                            </svg>
                            <span class="sr-only">Rubika channel</span>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        <script src="/scripts/toggleDarkMode.js"></script>
    </body>
</html>
