<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TESt</title>
        <!-- <link rel="stylesheet" href="../blockTheme.css" /> -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"></script> -->
        <!-- <script>
            hljs.highlightAll();
        </script> -->
        <link rel="stylesheet" href="../output.min.css" />
        <link rel="stylesheet" href="../styles/agate.min.css" />
        <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
        <script>
            hljs.initHighlightingOnLoad();
        </script>
    </head>
    <body>
        <main>
            <div class="p-5">
                <pre><code class="w-full rounded-md language-javascript">1  const wow = "wow"
2  // awdawdawda
3  console.log('wow', 434334)</code></pre>
            </div>
        </main>
    </body>
</html>
